<?xml version='1.0' encoding='UTF-8'?>
<strings>
	<string id="ntp_mcm.general_category" text="{=NTP.MCMGGEN}General"/>
	<string id="ntp_mcm.shokuho_category" text="{=NTP.MCMGShokuho}Shokuhō-specific"/>
	<string id="ntp_mcm.fief_category" text="{=NTP.MCMGFOR}Fief Display Format"/>
	<string id="ntp_mcm.advanced_category" text="{=VHFbeS8l6f}Advansed"/>
	<string id="ntp_mcm.culture_default" text="{=NTP.MCMGDEF}Default Titles"/>
	<string id="ntp_mcm.minor_default" text="{=NTP.MCMGMinor}Minor Faction Default Titles"/>
	<string id="ntp_mcm.general" text="{=NTP.MCMGGEN}General"/>
	<string id="ntp_mcm.fallback_player" text="{=NTP.MCMyour}Your Kingdom"/>
	<string id="ntp_mcm.fow_hint" text="{=NTP.MCMFOWHint}Enable Fog of War to titles; titles are not shown unless you have met the hero."/>
	<string id="ntp_mcm.verbose" text="{=NTP.MCMVerbose}Verbose Log"/>
	<string id="ntp_mcm.verbose_hint" text="{=NTP.MCMVerboseHint}(For debugging) Output extra information to the log file"/>
	<string id="ntp_mcm.fix_shokuho_clan_name" text="{=z6ja8jheFp}Fix Shokuho Clan Names"/>
	<string id="ntp_mcm.fix_shokuho_clan_name_hint" text="{=uv7HHkFM63}Overwrite the clan names with more easily identifiable and less confusing names. This feature is assumed to use with the Shokuhō. **This change affect the save and can't restore.**"/>
	<string id="ntp_mcm.tagging" text="{=NTP.MCMTag}Tagging"/>
	<string id="ntp_mcm.tagging_hint" text="{=NTP.MCMTagHint}Tagging fief names. Basically enabling recommended if you are European langauge user."/>
	<string id="ntp_mcm.separator" text="{=NTP.MCMSep}Fief Name Separator"/>
	<string id="ntp_mcm.separator_hint" text="{=NTP.MCMSepHint}Separator for Fief Names."/>
	<string id="ntp_mcm.separator_value" text="{=NTP.DEFSep},"/>
	<string id="ntp_mcm.separator_last" text="{=NTP.MCMSepLast}Fief Name Separator Last"/>
	<string id="ntp_mcm.separator_last_hint" text="{=NTP.MCMSepLastHint}Separator for the Fief Names."/>
	<string id="ntp_mcm.separator_last_value" text="{=NTP.DEFSepLast}and"/>
	<string id="ntp_mcm.size" text="{=NTP.MCMSize}Max Number of Fief Names"/>
	<string id="ntp_mcm.size_hint" text="{=NTP.MCMSizeHint}"/>
	<string id="ntp_mcm.heir" text="{=NTP.MCMHeir}Heir Apprant"/>
	<string id="ntp_mcm.heir_disabled" text="{=NTP.MCMHeirDisabled}Disabled"/>
	<string id="ntp_mcm.heir_primogeniture" text="{=NTP.MCMHeirPrimo}Primogemiture"/>
	<string id="ntp_mcm.heir_primogeniture_male" text="{=NTP.MCMHeirPrimoM}Male Primogemiture"/>
	<string id="ntp_mcm.heir_primogeniture_female" text="{=NTP.MCMHeirPrimoF}Female Primogemiture"/>
	<string id="ntp_mcm.heir_adult" text="{=NTP.MCMHeirAdult}Adult"/>
	<string id="ntp_mcm.heir_elder" text="{=NTP.MCMHeirElder}Elder"/>
	<string id="ntp_mcm.heir_hint" text="{=NTP.MCMHeirHint}(WIP) Law of heir to the throne. Primogeniture: oldest the ruler's son/daughter; Adult; only adult issue; Elder: the eldest indivisual in all the ruler's clan member. Note: the heir apparant don't always inherit the throne because of the Bannerlord's vanilla rule. This option should be used with the other mods which change succession laws."/>
	
	<string id="ntp_mcm.duke_cap_divisor" text="{=1QFAqlDCiT}Duke Capacity Divisor"/>
	<string id="ntp_mcm.duke_cap_divisor_hint" text="{=0PCRoAuCVu}The number of dukes is determined as (number of clan leaders without king)/(this parameter). The default value is 3."/>
	<string id="ntp_mcm.baron_threshold" text="{=a4fLlIVtff}Baron Threshold"/>
	<string id="ntp_mcm.baron_threshold_hint" text="{=y1UkWUlP0W}Each lord title is determined as the baron class (rank 4) when his/her fief score is less than this parameter. The default value is 3."/>

	<string id="ntp_mcm.error_kingdom" text="{=bWMiFgw5ac}Error 001: Kingdom Name Not Found"/>
	<string id="ntp.landless" text="{=7FEC5f10}{NTP.landless}Landless"/>	
	<string id="ntp_mcm.title_1M" text="{=NTP.MCMRank1M}King (Rank 1)"/>
	<string id="ntp_mcm.title_1F" text="{=NTP.MCMRank1F}Queen (Rank 1)"/>
	<string id="ntp_mcm.title_2M" text="{=NTP.MCMRank2M}Duke (Rank 2)"/>
	<string id="ntp_mcm.title_2F" text="{=NTP.MCMRank2F}Duchess (Rank 2)"/>
	<string id="ntp_mcm.title_3M" text="{=NTP.MCMRank3M}Count (Rank 3)"/>
	<string id="ntp_mcm.title_3F" text="{=NTP.MCMRank3F}Countess (Rank 3)"/>
	<string id="ntp_mcm.title_4M" text="{=NTP.MCMRank4M}Baron (Rank 4)"/>
	<string id="ntp_mcm.title_4F" text="{=NTP.MCMRank4F}Baroness (Rank 4)"/>
	<string id="ntp_mcm.title_5M" text="{=NTP.MCMRank5M}Nobleman (Rank 5)"/>
	<string id="ntp_mcm.title_5F" text="{=NTP.MCMRank5F}Noblewoman (Rank 5)"/>
	<string id="ntp_mcm.title_0M" text="{=NTP.MCM0M}Other Male Cases"/>
	<string id="ntp_mcm.title_0F" text="{=NTP.MCM0F}Other Female Cases"/>
	<string id="ntp_mcm.title_minorLM" text="{=NTP.MCMMinorLM}Male Leader"/>
	<string id="ntp_mcm.title_minorLF" text="{=NTP.MCMMinorLF}Female Leader"/>
	<string id="ntp_mcm.title_minorMM" text="{=NTP.MCMMinorMM}Male Member"/>
	<string id="ntp_mcm.title_minorMF" text="{=NTP.MCMMinorMF}Female Member"/>
	<string id="ntp_mcm.title_minorFallbackM" text="{=NTP.MCMMinorFallbackM}Fallback Male"/>
	<string id="ntp_mcm.title_minorFallbackF" text="{=NTP.MCMMinorFallbackF}Fallback Female"/>
	<string id="ntp_mcm.title_CrownM" text="{=NTP.MCMCrownM}Crown Prince"/>
	<string id="ntp_mcm.title_CrownF" text="{=NTP.MCMCrownF}Crown Princess"/>
	<string id="ntp_mcm.title_RoyalM" text="{=NTP.MCMRoyalM}Royal Male"/>
	<string id="ntp_mcm.title_RoyalF" text="{=NTP.MCMRoyalF}Royal Female"/>
	<string id="ntp_mcm.1M_hint" text="{=NTP.MCMRank1MHint}Title format of the male monorch"/>
	<string id="ntp_mcm.1F_hint" text="{=NTP.MCMRank1FHint}Title format of the female monorch"/>
	<string id="ntp_mcm.2M_hint" text="{=NTP.MCMRank2MHint}Title format of a rank 2 male vassal"/>
	<string id="ntp_mcm.2F_hint" text="{=NTP.MCMRank2FHint}Title format of a rank 2 female vassal"/>
	<string id="ntp_mcm.3M_hint" text="{=NTP.MCMRank3MHint}Title format of a rank 3 male vassal"/>
	<string id="ntp_mcm.3F_hint" text="{=NTP.MCMRank3FHint}Title format of a rank 3 female vassal"/>
	<string id="ntp_mcm.4M_hint" text="{=NTP.MCMRank4MHint}Title format of a rank 4 male vassal"/>
	<string id="ntp_mcm.4F_hint" text="{=NTP.MCMRank4FHint}Title format of a rank 4 female vassal"/>
	<string id="ntp_mcm.5M_hint" text="{=NTP.MCMRank5MHint}A male clan member's title format"/>
	<string id="ntp_mcm.5F_hint" text="{=NTP.MCMRank5FHint}A female clan member's title format"/>
	<string id="ntp_mcm.0M_hint" text="{=NTP.MCM0MHint}Title format of male hero who doesn't serve for any reason. This format is also used for an unmet hero when enabling the fog of war."/>
	<string id="ntp_mcm.0F_hint" text="{=NTP.MCM0FHint}Title format of female hero who doesn't serve for any reason. This format is also used for an unmet hero when enabling the fog of war."/>
	<string id="ntp_mcm.minorLM_hint" text="{=NTP.MCMMinorLMHint}Title format of the male leader"/>
	<string id="ntp_mcm.minorLF_hint" text="{=NTP.MCMMinorLFHint}Title format of the female leader"/>
	<string id="ntp_mcm.minorMM_hint" text="{=NTP.MCMMinorMMHint}A male menber's title format"/>
	<string id="ntp_mcm.minorMF_hint" text="{=NTP.MCMMinorMFHint}A female menber's title format"/>
	<string id="ntp_mcm.minorFallbackM_hint" text="{=NTP.MCMMinorMMHint}Title format of male hero who doesn't serve for any reason. This format is also used for an unmet hero when enabling the fog of war."/>
	<string id="ntp_mcm.minorFallbackF_hint" text="{=NTP.MCMMinorMFHint}Title format of female hero who doesn't serve for any reason. This format is also used for an unmet hero when enabling the fog of war."/>
	<string id="ntp_mcm.CrownM_hint" text="{=NTP.MCMCrownMHint}The male succession's title format"/>
	<string id="ntp_mcm.CrownF_hint" text="{=NTP.MCMCrownFHint}The female succession's title format"/>
	<string id="ntp_mcm.RoyalM_hint" text="{=NTP.MCMRoyalMHint}A male ruler clan menber's title"/>
	<string id="ntp_mcm.RoyalF_hint" text="{=NTP.MCMRoyalFHint}A female ruler clan menber's title"/>
	<string id="ntp_mcm.united_empire" text="{=S40p9P6Slm}Change the Imperial title when reunited" />
	<string id="ntp_mcm.united_empire_hint" text="{=aRh2YvgeuG}If enabled, surviving Empire titles are overwrtten with the common Imperial title when the reunion is succeeded." />
	
</strings>
